.add-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-search > button {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background: #3FAA9D;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
}
.add-search > input {
    display: block;
    margin: auto 0;
}